:root {
    /*background: linear-gradient(120deg, #E75590, #00C2CB);*/
    --inpput-linear: linear-gradient(120deg, rgb(57, 57, 211), #00C2CB);
    --button-linear: linear-gradient(120deg, rgb(57, 57, 211), #00C2CB, rgb(57, 57, 211));
    --white: #ffffff;
    --black: #303030;
    --gray: #929292;
    --lightgray: #cfcfcf;
    --border-height: 1.5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: var(--inpput-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    min-height: 400px;
    width: 300px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    margin-bottom: 32px;
    color: var(--black);
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
}

.login_input-border {
    height: var(--border-height);
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--lightgray);
    transition: .3s ease-in-out;
}

.login_input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: var(--inpput-linear);
    transition: .3s ease-in-out;
}

.login_input:focus + .login_input-border::after {
    width: 100%;
}

.login_button {
    height: 48px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.login_button:hover {
    background-position: right;
}

.login_reset {
    font-size: 12px;
    color: var(--gray);
    text-decoration: none;
}